.ant-pagination {
  margin-bottom: 2rem;
}

.anticon {
  display: block;
  padding-top: 10px;
}

.ant-select-suffix {
  position: absolute;
  left: -35px;
  top: -8px;
}

.ant-select-selection-search-input {
  position: absolute;
  left: -20px;
  top: -10px;
}
