.wrapper {
  position: absolute;
  right: -165px;
  top: 65px;
  width: 246px;
  height: 104px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 25px 1px rgb(180, 180, 180);
  z-index: 1;
}

.wrapper::before {
  content: '';
  position: absolute;
  left: -6px;
  top: 10px;
  width: 16px;
  height: 16px;
  background-color: white;
  //   box-shadow: 0 0 25px 1px rgb(180, 180, 180);
  transform: rotate(135deg);
  z-index: -2;
}

.pop-up-question {
  width: 208px;
  height: 44px;
  margin: 12px auto 8px 40px;
  z-index: 2;
  line-height: 22px;
}

.pop-up-question::before {
  content: url('../../src/assets/warning-icon.svg');
  position: absolute;
  width: 16px;
  height: 16px;
  transform: scale(1.2);
  left: 18px;
  z-index: 2;
}

.pop-up-btns {
  width: 81px;
  height: 24px;
  margin: 8px auto 12px 143px;
}

.pop-up-btn-no {
  width: 34px;
  height: 24px;
  font-size: 14px;
  background-color: white;
  border-radius: 2px;
  border: 1px solid rgba(217, 217, 217, 1);
  transition: 0.12s;
}

.pop-up-btn-yes {
  width: 39px;
  height: 24px;
  font-size: 14px;
  background-color: white;
  border-radius: 2px;
  border: 1px solid rgba(217, 217, 217, 1);
  margin-left: 5px;
  transition: 0.12s;
}

.pop-up-btn-no:hover,
.pop-up-btn-yes:hover {
  background-color: rgba(24, 144, 255, 1);
  color: white;
  border: none;
}

.pop-up-btn-no:active,
.pop-up-btn-yes:active {
  transform: scale(0.95);
}
