$color-header: rgba(255, 255, 255, 1);
header {
  width: 100%;
  height: 80px;
  background-color: $color-header;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}

.blogName {
  height: 51px;
  line-height: 51px;
  display: inline-block;
  vertical-align: middle;
  margin: auto 0 auto 22px;
  transition: 0.1s;
}

.blogName a {
  text-decoration: none;
  color: black;
}

.blogName:hover {
  text-decoration: underline;
  transform: scale(1.05);
}

.blogName:active {
  transform: scale(1);
}
